# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 23d6efde066602ecd33f9f4119995b23f2175d6c7099e7f3c4747e2a3e0142895300f2dcd750d0b82ef80f111a150e0af8e0d7817c39e5613c2abb5a6c593724

test:
  secret_key_base: f36cdeee9828f80c03a8967f433528ac060930efd9c552074d5e51ec5628df6547d438f618ae445f48f027d8ec097415f2e28d1ea6589fa6fb0afef83fb69523

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
