body {
  background-color: $viewport-background;
}

.wrapper {
  margin: 0 auto;
  max-width: 1000px;
  border: 1px solid $frame-background;
  background: $body-background;
}

.row {
  max-width: 100%;
}

nav.menu {
  background-color: $frame-background;
  padding-top: 0.5em;

  .name {
    text-align: center;
    font-size: 1.5rem;
    line-height: 1;
    margin: 0 0 1rem 0;
    color: $frame-text;
    @include breakpoint(medium) {
      text-align: left;
    }

    i {
      color: $frame-contrast;
      margin-right: 0.5rem;
    }
  }

  .inline-list {
    text-align: center;
    @include breakpoint(medium) {
      float: right;
    }

    li {
      display: inline-block;
      margin: 0;
      color: $frame-text;

      &::after {
        content: "•";
        padding: 0 0.5em;
      }
    
      &:last-child::after {
        content: "";
        padding: 0;
      }
    }


    a {
      color: $frame-text;
      padding-bottom: 0.5rem;

      &:hover {
        color: $frame-contrast;
        transition: all .3s ease-in-out;
      }
    }

    .active a {
      color: $frame-contrast;
    }
  }
}

main {
  height: 10rem; // FIXME
}

footer.footer {
  background-color: $frame-background;
  font-size: 1.2rem;
  padding: 0.5rem 0;

  .inline-list {
    margin: 0;
    text-align: center;
    float: none;
    @include breakpoint(medium) {
      float: left;
    }

    li {
      float: none;
      display: inline-block;
    }

    a {
      display: inline-block;
      width: 2rem;
      height: 2rem;
      background-color: $frame-background-darker;
      border-radius: 2px;
      font-size: 1.4rem;
      color: $frame-text;
      text-align: center;
      margin: 0 3px 0 0;
    }

    a.dashboard {
      background-color: $alert-color;
    }
  }

  .copyright {
    color: $frame-text;
    font-size: 0.875rem;
    margin: 0.5rem 0 0 0;
    text-align: center;
    @include breakpoint(medium) {
      text-align: right;
    }
  }
}
