.frontend-posts {
  main {
    h2 {
      margin: 0;
    }

    .tags {
      i {
        margin-right: 0.2rem;
        color: #889fb8;
      }

      a {
        margin-right: 0.5rem;
      }
    }

    .headline {
      margin-top: 0.5rem;
    }

    .cover_image {
      margin: 5px 0.5rem 0.5rem 0;

      .thumbnail {
        margin-bottom: 0;
      }
    }

    .abstract {
      margin-top: 0;
      i {
        margin-left: 0.2em;
      }
    }
  }
}
